.site-details h1 {
  margin-bottom: 30px;
}

.site-content {
  margin-top: 20px;
}

.site-content .service-title {
  font-size: 24px;
  margin-top: 8px;
}

.site-content .pricing-model-details {
  font-size: 32px;
}
